<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Podcasts</title>
</head>


<body>
    <div class="container overflow-hidden">
        <div class="row gy-4">
            <div class="col-12">
                <div class="p-3 trans">
<!-- This is where the Navbar starts -->
                    <nav id=nav class="navbar navbar-expand-lg navbar-dark trans navbar-nav">
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="index">
                                    <img src="/static/images/final_logo.png" alt="" width="40" height="34"
                                        class="d-inline-block align-text-top">
                                    <text class="orange">Diversity Connect</text>

                                </a>
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link active orange" aria-current="page" href="index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link orange" href="podcasts">Podcasts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active orange" href="chat">Chat</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </nav>
<!-- This is where the NavBar stops -->
                </div>
            </div>
            <div class="col-12">
<!-- This is the start of the box with the link to the youtube channel -->
                <div class="p-3 trans orange">
                    <h4 class="title2">Welcome to Diversity Connect's Podcast Section</h4>
                    <p class="text">Here we will add different podcasts and videos that help educate everyone on students of color's experiences in predominatly white schools.
                        Right now we bring to you POC|ast, a podcast segement brout to you by Axel-Ryan Nzi where he interviews students from pwi's to here their experience and their thoughts.
                    Please go take a momenet to follow Axel's Youtube channel linked below. </p>
                    <a href="https://www.youtube.com/channel/UCfdOUoSElS14UYucBFrLK8w" class="orange bold"> <h5> Link to Axel's Youtube Channel</5></a>
                </div>
<!-- End of box with youtube link -->
            </div>
<!-- This is where we implment the video with it's title and description -->
            <div class="col-6">
                <div class="p-3 trans orange">
                    <h3 class="center text2">POC|ast Epsiode 1</h3>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1NeV3-cM0LE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h5 class="title2"> Description:</h5>
                    <p class="text">A conversation with Christopher Mitchell from Hotchkiss</p>
                </div>
<!-- End of first video -->
            </div>
<!-- Do Not use the next three link have them Saved and copy them -->

            <!-- <div class="col-6">
                <div class="p-3 border bg-light">Custom column padding</div>
            </div> -->

<!-- End of new lines  -->
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>