<!doctype html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/static/style.css" type="text/css">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Diversity Connect Resources</title>
</head>


<body>
    <div class="container overflow-hidden">
        <div class="row gy-5">
            <div class="col-12">
                <div class="p-3 trans">
                    <nav id=nav class="navbar navbar-expand-lg navbar-dark trans navbar-nav">
                        <div class="container-fluid">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="index">
                                    <img src="/static/images/final_logo.png" alt="" width="40" height="34"
                                        class="d-inline-block align-text-top">
                                    <text class="orange">Diversity Connect</text>

                                </a>
                            </div>
                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link orange" aria-current="page" href="index">Home</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active orange" href="podcasts">Podcasts</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active orange" href="chat">Chat</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active orange" href="resources">Resources</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 trans">
                    <h4 id=list_heading class="orange bold center title2"> Day School <br> Black @ Accounts</h4>
                    <ul>
                        <li class="orange"><a href="https://www.instagram.com/blackatbc/"
                                class="white text" target="_blank">Black at Berkeley Carroll</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackatchapin/" class="white text" target="_blank">Black
                                at Chapin</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackatdalton/" class="white text" target="_blank">Black
                                at Dalton</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackatfieldston/"
                                class=" white text" target="_blank">Black at Fieldston</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackatfriendsseminary/"
                                class="white text" target="_blank">Black at Freinds Seminary</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackatgrace/" class="white text" target="_blank">Black
                                at Grace Church</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blacklemanspeaks/"
                                class="white text" target="_blank">Black at Leman</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackatpacker/" class="white text" target="_blank">Black
                                at Packer</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackatpolyprep/"
                                class="white text" target="_blank">Black at Poly Prep</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackatstuyvesant/"
                                class="white text" target="_blank">Black at Stuyvesant</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackattrinity/" class="white text" target="_blank">Black
                                at Trinity</a></li>
                        <li class="orange"><a href="https://www.instagram.com/blackatyorkprep/"
                                class="white text" target="_blank">Black at York Prep</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-4">
                <div class="p-3 trans">
                    <h4 class="center bold title2 orange">Boarding School<br> Black @ Accounts</h4>
                <ul class="orange">
                    <li class="orange"><a href="https://www.instagram.com/blackatandover/"
                            class="white text" target="_blank">Black at Andover</a></li>
                    <li class="orange"><a href="https://www.instagram.com/blackatchoateofficial/"
                            class="white text" target="_blank">Black at Choate</a></li>
                    <li class="orange"><a href="https://www.instagram.com/blackatdeerfieldofficial/"
                            class="white text" target="_blank">Black at Deerfield</a></li>
                    <li class="orange"><a href="https://www.instagram.com/blackatexeter/" class="white text" target="_blank">Black at
                            Exeter</a></li>
                    <li class="orange"><a href="https://www.instagram.com/blackathill/" class="white text" target="_blank">Black at
                            Hill</a></li>
                    <li class="orange"><a href="https://www.instagram.com/black.at.hkiss/" class="white text" target="_blank">Black at
                            Hotchkiss</a></li>
                    <li class="orange"><a href="https://www.instagram.com/blackatmiltonacad/" class="white text" target="_blank">Black
                            at Milton</a></li>
                    <li class="orange"><a href="https://www.instagram.com/blackattaft/" class="white text" target="_blank">Black at
                            Taft</a></li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <div class="p-3 trans">
                <h4 class="center bold title2 orange">Our Instagram</h4>
                <ul class="orange">
                    <li class="orange"><a href="https://www.instagram.com/diversity__connect/"
                            class="white text">Diversity Connect</a></li>
                </ul>
                <br> <br>
                <h4 class="center bold title2 orange">Other Resources</h4>
                <ul class="orange">
                    <li class="orange"><a href="https://www.instagram.com/blackatprepforprep/"
                            class="white text" target="_blank"> Black at Prep for Prep</a></li>
                    <li class="orange"><a href="https://www.instagram.com/blackstudentsdemandingchange/"
                            class="white text" target="_blank">Black Students Demanding Change</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>



    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>